<div>
  <span class="searchheader"> Search Result for {{query}}</span>
  <button [routerLink]="['']">Back</button>
</div>

<div *ngIf="reviewList.length> 0; else noData">

  <table *ngFor="let review of reviewList">
    <!-- <div *ngIf="movie.image != undefined; else image"> -->
    <td>
      <img [src]="review.image != 'undefined' ? review.image :
        placeholderImg">
      <p>{{review.image}}</p>
      <!-- </div>
      <ng-template #image>
        <td><img src="{{imageUrl}}" /></td>
      </ng-template> -->
    </td>
    <td>
      <a [href]="review.reviewURL" target="_blank">
        <h2>Title: {{review.title}} Rating: {{review.rating}}</h2>
      </a>
      <h3>{{review.headline}}</h3>
      <h6>Summary: {{review.summary}}</h6>
      <p>Number of Comments: {{review.commentCount}}</p>

      <button type="button" [routerLink]="['/comment', review.title]">Comment</button>
    </td>
  </table>
</div>

<ng-template #noData>
  <h3> Your search produces no result </h3>
</ng-template>
