

<div>
  <span class="searchheader"> Search Result </span>
  <button [routerLink]="['']">Back</button>
</div>

<div *ngIf="movieList; else noData">

  <table *ngFor="let movie of movieList">
    <td><img src="{{imageUrl}}" /></td>
    <td>
      <a href="movie.reviewUrl">
        <h2>Title: {{movie.title}} Rating: {{movie.rating}}</h2>
      </a>

      <h3>{{movie.headline}}</h3>
      <h4>Summary: {{movie.summary}}</h4>
      <p>Number of Comments: {{movie.numberOfComments}}</p>

      <button type="button" [routerLink]="['/search']" >Comment</button>
    </td>
  </table>
</div>

<ng-template #noData>
  <h1>Getting data...</h1>
  <div class="spinner-border text-light" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <h3> Your search produces no result </h3>
</ng-template>

<!-- <p> Checking API data directly... </p>
{{searchDirect | async | json}} -->
