<h1>View 0</h1>
<form class="form" [formGroup]="form" (ngSubmit)="postComment()">
  <div>
    <label>Name: </label>
    <input type="text" size="30" placeholder="Name here" formControlName="name">
  </div>
  <div *ngIf="isControlInvalid('name')" class="error">
    Warning message
  </div>

  <div>
    <label>Rating:</label>
    <input type="number" size="30" formControlName="rating">
  </div>

  <div>
    <label> Comments: </label>
    <br/>
      <textarea name="notes" cols="30" rows="10"
        formGroupName="comment">
      </textarea>
    </div>
    <div *ngIf="isControlInvalid('comment')" class="error">
      Warning message
    </div>

    <button type="submit" [disabled]="form.invalid">Submit</button>
  </form>
