<h1>Post Comment for {{title}}</h1>
<form class="form" [formGroup]="form" (ngSubmit)="postComment()">
  <div>
    <label>Name: </label>
    <input type="text" size="30" placeholder="Name here"
      formControlName="name">
  </div>
  <div *ngIf="isControlInvalid('name')" class="error">
    Need a name. Must be at least 3 characters long.
  </div>

  <div>
    <label>Rating:</label>
    <input type="number" size="30" formControlName="rating">
  </div>

  <div *ngIf="isControlInvalid('rating')" class="error">
    Rating is between 1 to 5.
  </div>

  <div>
    <label> Comments: </label>
    <br/>
      <textarea name="notes" cols="30" rows="10"
        formControlName="comment"></textarea>
    </div>
    <div *ngIf="isControlInvalid('comment')" class="error">
      Required field.
    </div>
    <button type="submit" [disabled]="form.invalid">Submit </button>
    <!-- <button type="button" [routerLink]="['/search']" [queryParams]="{query}">Back</button> -->
  </form>
